<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="HibernateSessionFactory">
		<property name="hibernate.connection.driver_class">
			com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">
			jdbc:sqlserver://localhost:1433;databaseName=RelationDBMS</property>
		<property name="hibernate.connection.username">
			sa</property>
		<property name="hibernate.connection.password">
			a787349407
		</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.SQLServerDialect</property>
		<mapping resource="cn/edu/zjut/po/Business.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Login.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Shop.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Liaisonuser.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Liaison.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Businessdemand.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Intention.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Liaisonassess.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Liaisondemand.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Theorder.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Shopassess.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Shopactive.hbm.xml" />
		<mapping resource="cn/edu/zjut/po/Passage.hbm.xml" />
	</session-factory>
</hibernate-configuration>